/* src/App.css */

.App {
  text-align: center;
}

form {
  margin: 20px;
}

input {
  font-size: 1.2em;
  padding: 5px;
  margin-right: 10px;
}

button {
  font-size: 1.2em;
  padding: 5px 10px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2em;
  margin: 5px 0;
}
